@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <p>  Kjetil Ormestad Eid</p>
    <p> Trollveien 71</p>
    <p> 1450 Nesodden</p>
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:kjetil.eid@gmail.com">kjetil.eid@gmail.com</a><br />
</address>